<div class="row">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-8" ><h1>Equinox Platform</h1></div> 
			<div class="col-md-4" ><IMG SRC="images/equinox logo-06.png"  style="width: 300px;height: 69px;margin-top: 20px;margin-bottom: 10px;"></div>
        </div>
       	<p>&nbsp;&nbsp;&nbsp;Equinox is an application server providing a general purpose interworking function between other network elements er a number of IT de-facto protocols. Equinox can be used to convert protocol or exchange sequences of messages with other systems. It may consist of several physical nodes in order to provide resilience and load sharing. A number of zependentapplications can run simultaneously on an Equinox node
		</p>
     </div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-success" style="height: 250px;">
			<div class="panel-heading">
   				 <h3 class="panel-title">Heading</h3>
 			 </div>
 			 <div class="panel-body">
		  		<p>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
  			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-success" style="height: 250px;">
			<div class="panel-heading">
   				 <h3 class="panel-title">Heading</h3>
 			 </div>
 			 <div class="panel-body">
		  		<p>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
  			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-success" style="height: 250px;">
			<div class="panel-heading">
   				 <h3 class="panel-title">Heading</h3>
 			 </div>
 			 <div class="panel-body">
				<ul>
					<li>
						Lorem ipsum dolor sit amet
					</li>
					<li>
						Consectetur adipiscing elit
					</li>
					<li>
						Integer molestie lorem at massa
					</li>
					<li>
						Facilisis in pretium nisl aliquet
					</li>
					<li>
						Nulla volutpat aliquam velit
					</li>
					<li>
						Faucibus porta lacus fringilla vel
					</li>
					<li>
						Aenean sit amet erat nunc
					</li>
				</ul>
  			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 ">
		<div class="panel-group" id="panel-28579">
			<div class="panel panel-default">
				<div class="panel-heading">
					 <a class="panel-title" data-toggle="collapse" data-parent="#panel-28579" href="#panel-element-566456">Collapsible Group Item #1</a>
				</div>
				<div id="panel-element-566456" class="panel-collapse collapse in">
					<div class="panel-body">
						Anim pariatur cliche...
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					 <a class="panel-title" data-toggle="collapse" data-parent="#panel-28579" href="#panel-element-280111">Collapsible Group Item #2</a>
				</div>
				<div id="panel-element-280111" class="panel-collapse collapse">
					<div class="panel-body">
						Anim pariatur cliche...
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<blockquote>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
			</p> <small>Someone famous <cite>Source Title</cite></small>
		</blockquote>
		<form role="form">
			<div class="form-group">
				 <label for="exampleInputEmail1">Email address</label><input class="form-control" id="exampleInputEmail1" type="email" />
			</div>
			<div class="form-group">
				 <label for="exampleInputPassword1">Password</label><input class="form-control" id="exampleInputPassword1" type="password" />
			</div>
			<div class="form-group">
				 <label for="exampleInputFile">File input</label><input id="exampleInputFile" type="file" />
				<p class="help-block">
					Example block-level help text here.
				</p>
			</div>
			<div class="checkbox">
				 <label><input type="checkbox" /> Check me out</label>
			</div> <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>
			Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
		</p>
	</div>
</div>
